@page "/calculator"

<h3>Calculator</h3>

<input type="number" @bind="a" />
<input type="number" @bind="b" />


<button class="btn btn-primary" @onclick="add">Sum </button>


@code {

    private int a;
    private int b;
    private int sum;

    private void add()
    {
        sum = a + b;
    }
}